<div class="container">
    <div><h4 class="h4 text-center">Add Product</h4></div>
    <div class="m-auto w-50">
        <div class="form-group m-2">
            <label class="form-label" for="pName">Product Name: </label>
            <input class="form-control" type="text" name="pName" [(ngModel)]="pName">
        </div>
        <div class="form-group m-2">
            <label class="form-label" for="pPrize">Prize: </label>
            <input class="form-control" type="number" name="pPrize" [(ngModel)]="pPrize">
        </div>
        <div class="form-group m-2">
            <label class="form-label" for="iURL">Upload Prouct Image</label>
            <input class="form-control" (change)="onImageSelected($event)" type="file" name="pPrize">
        </div>
        <button class="btn btn-success m-2" (click)="addProduct()">Add Product</button>
    </div>
</div>
